* {
    margin: 0px;
    padding:0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2px;   /* Adicionando margem ao redor do formulário */
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;   /* Corrigindo para 5px */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

